<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baicells.baiboss">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--umeng push 权限必须的-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--umeng push 权限必须的-->


    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <!-- umeng推送需要配置的 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b87c52eb27b0a26a00000fa" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- umeng推送需要配置的 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.ChargeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.ChargeResultActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.ChangePwdActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.ChangePwdResultActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.TariffProgramActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.TariffResultActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>